/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	width: 100%;
	border-style: solid;
    border-width: 2px;
    border-color: red;
}


.sidebar {
	float: left;
	width: 25%;
	border-style: solid;
    border-width: 2px;
    border-color: green;
    height: 300px;
}

.main-content {
	float: left;
	width: 37.5%;
	border-style: solid;
    border-width: 2px;
    border-color: green;
    height: 300px;
}

.sub-content {
	float: left;
	width: 37.5%;
	border-style: solid;
    border-width: 2px;
    border-color: green;
    height: 300px;
}


.footer {
	width: 100%;
	clear: both;
	border-style: solid;
    border-width: 2px;
    border-color: orange;
}
