/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
	border-style: solid;
    border-width: 2px;
    border-color: red;
}

.logo {
	float: left;
	border-style: solid;
    border-width: 2px;
    border-color: black;

	/* hint! */
}

.navigation {
	float: right;
	border-style: solid;
    border-width: 2px;
    border-color: white;
	/* hint! */
}

.sidebar {
	float: left;
	width: 250px;
	border-style: solid;
    border-width: 2px;
    border-color: green;
    height: 300px;
}

.main-content {
	float: left;
	width: 734px;
	border-style: solid;
    border-width: 2px;
    border-color: yellow;
    height: 300px;
}

.footer {
	clear: both;
	border-style: solid;
    border-width: 2px;
    border-color: orange;
}
