/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 100% 
	margin: 0 auto;
}


.header:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    width: 100%;
	border-style: solid;
    border-width: 2px;
    border-color: red;
}

.logo {
	float: left;
	border-style: solid;
    border-width: 2px;
    border-color: black;

	/* hint! */
}

.navigation {
	float: right;
	border-style: solid;
    border-width: 2px;
    border-color: white;
	/* hint! */
}

.main-content:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    width: 100%:;
	border-style: solid;
    border-width: 2px;
    border-color: yellow;
}

.sidebar {
	float: left;
	width: 25%;
	border-style: solid;
    border-width: 2px;
    border-color: green;
    height: 300px;
}

/* hint! you have to contain the floated children elements. */

.sub-content {
	float: right;
	width: 70%;
	border-style: solid;
    border-width: 2px;
    border-color: purple;
    height: 150px;
	/* hint! */
}
.sub-content-2 {
	float: right;
	width: 70%;
	border-style: solid;
    border-width: 2px;
    border-color: gray;
    height: 150px;
	/* hint! */
}

.footer {
	width: 100%;
	clear: both;
	border-style: solid;
    border-width: 2px;
    border-color: orange;
}
